.Home .lander {
  padding: 80px 0;
  text-align: center;
}

.Home {
  background-color: #D57995;
}

.HomeBlurb {
  width: 80vw;
  padding-right: 10vw;
  text-align: justify;
}


/* Secondary background-color: #fe938c */

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}

.HomePhotos {
  align-items: center;
  height: 450px;
}

.Home .notes h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Home .notes p {
  color: #666;
}