.freeShip {
  color: blue;
  font-size: 20pt;
  font-weight: bold;
  text-decoration: underline;
}

.KitchenHome {
  background-color: #ffccdd!important;
}

.KitchenHomeNav {
  color: #ffccdd!important;
}

.KitchenHomeNav a {
  color: #0b7930!important;
}

.FabricThumb {
  background-color: rgb(238, 144, 172)!important;
  text-align: center!important;
}

.ProductThumb {
  background-color: rgb(238, 144, 172)!important;
  text-align: center!important;
}

/* Tea Green #b9ffb7
Sea Foam  #a7e8bd*/