.KitchenHome {
  background-color: #D57995;
}

.KitchenHomeNav {
  color: #D57995;
}

#FabricBackground {
  background-color: #ffccdd;
  text-align: center;
}

#ProductBackground {
  background-color: #ffccdd;
  text-align: center;
}

/* Tea Green #b9ffb7
Sea Foam  #a7e8bd*/