body {
  background-color: #D57995;
}

.App {
  margin-top: 15px;
}

.NavHeaderBarLogo {
  margin-top: -28px;
  width: 400px;
}

.App .navbar-brand {
  font-weight: bold;
}

.navbar {
  background-color: #D57995;
}
